In [190]:
import pandas as pd
import numpy as np
from statsmodels.formula.api import ols
import statsmodels
df = pd.read_csv('kc_house_data.csv')

## Changes Made To DataFrame

In [ ]:
## dropped'id' because it's useless lol
## dropped 'date' because its too specific and replaced with a column that shows month categorically
## dropped'yr_built' because it doesn't tell us much BUT I also replaced with this column with how old the home is in 
## years
## dropped'yr_renovated' and made categorical as to whether it has been renovated or not
## dropped 'lat', feels useless
## dropped 'long', feels useless
## made zipcode into a string to make categorical
## made sqft_basement into floats (it was a string)
## created a total_sq_ft column combining basement sq fit with the rest of the house

In [132]:
def make_month(string):
    if string[:2] == '1/':
        return 'Jan'
    if string[:2] == '2/':
        return 'Feb'
    if string[:2] == '3/':
        return 'Mar'
    if string[:2] == '4/':
        return 'Apr'
    if string[:2] == '5/':
        return 'May'
    if string[:2] == '6/':
        return 'Jun'
    if string[:2] == '7/':
        return 'Jul'
    if string[:2] == '8/':
        return 'Aug'
    if string[:2] == '9/':
        return 'Sep'
    if string[:2] == '10':
        return 'Oct'
    if string[:2] == '11':
        return 'Nov'
    if string[:2] == '12':
        return 'Dec'

In [3]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [4]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [191]:
df_alt = df.drop(['id', 'date', 'yr_built', 'yr_renovated', 'lat', 'long'], axis = 1)
month_list = []
sqft_basement_list = []
yr_renovated = []
for date in df['date'].values:
    month_list.append(make_month(date))
for num in df['sqft_basement'].values:
    if num == '?':
        sqft_basement_list.append(np.nan)
    else:
        sqft_basement_list.append(float(num))
for data in df['yr_renovated'].values:
    if data == 0:
        yr_renovated.append(0)
    elif data == np.nan:
        yr_renovated.append(np.nan)
    else:
        yr_renovated.append(1)
df['month'] = month_list
df_alt['month'] = month_list
df['sqft_basement'] = sqft_basement_list
df_alt['sqft_basement'] = sqft_basement_list
df['renovated'] = yr_renovated
df_alt['renovated'] = yr_renovated
df_alt['zipcode'] = df_alt['zipcode'].apply(str)
df['age_of_house'] = 2021 - df['yr_built']
df_alt['age_of_house'] = 2021 - df['yr_built']
df['total_sq_ft'] = df['sqft_above'] + df['sqft_basement']
df_alt['total_sq_ft'] = df['sqft_above'] + df['sqft_basement']
df_alt.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,zipcode,sqft_living15,sqft_lot15,month,renovated,age_of_house,total_sq_ft
0,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,3,7,1180,0.0,98178,1340,5650,Oct,0,66,1180.0
1,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,3,7,2170,400.0,98125,1690,7639,Dec,1,70,2570.0
2,180000.0,2,1.00,770,10000,1.0,0.0,0.0,3,6,770,0.0,98028,2720,8062,Feb,1,88,770.0
3,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,5,7,1050,910.0,98136,1360,5000,Dec,0,56,1960.0
4,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,3,8,1680,0.0,98074,1800,7503,Feb,0,34,1680.0

In [163]:
cont_var = ['price', 'sqft_living', 'sqft_lot', 'sqft_above', 'sqft_basement']
cont_var_cont = ['sqft_living15', 'sqft_lot15']
categorical_var = ['waterfront', 'view', 'condition', 'floors', 'bedrooms']
categorical_var_cont = ['bathrooms', 'grade', 'zipcode']

In [5]:
df.isnull().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [12]:
df['age_of_house'] = 2021 - df['yr_built']

In [14]:
df.corr()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,age_of_house
id,1.000000,-0.016772,0.001150,0.005162,-0.012241,-0.131911,0.018608,-0.004176,0.011592,-0.023803,0.008188,-0.010799,0.021617,-0.012010,-0.008211,-0.001798,0.020672,-0.002701,-0.138557,-0.021617
price,-0.016772,1.000000,0.308787,0.525906,0.701917,0.089876,0.256804,0.276295,0.395734,0.036056,0.667951,0.605368,0.053953,0.129599,-0.053402,0.306692,0.022036,0.585241,0.082845,-0.053953
bedrooms,0.001150,0.308787,1.000000,0.514508,0.578212,0.032471,0.177944,-0.002386,0.078523,0.026496,0.356563,0.479386,0.155670,0.018495,-0.154092,-0.009951,0.132054,0.393406,0.030690,-0.155670
bathrooms,0.005162,0.525906,0.514508,1.000000,0.755758,0.088373,0.502582,0.067282,0.186451,-0.126479,0.665838,0.686668,0.507173,0.051050,-0.204786,0.024280,0.224903,0.569884,0.088303,-0.507173
sqft_living,-0.012241,0.701917,0.578212,0.755758,1.000000,0.173453,0.353953,0.110230,0.282532,-0.059445,0.762779,0.876448,0.318152,0.055660,-0.199802,0.052155,0.241214,0.756402,0.184342,-0.318152
sqft_lot,-0.131911,0.089876,0.032471,0.088373,0.173453,1.000000,-0.004814,0.023143,0.075298,-0.008830,0.114731,0.184139,0.052946,0.004513,-0.129586,-0.085514,0.230227,0.144763,0.718204,-0.052946
floors,0.018608,0.256804,0.177944,0.502582,0.353953,-0.004814,1.000000,0.021883,0.028436,-0.264075,0.458794,0.523989,0.489193,0.003535,-0.059541,0.049239,0.125943,0.280102,-0.010722,-0.489193
waterfront,-0.004176,0.276295,-0.002386,0.067282,0.110230,0.023143,0.021883,1.000000,0.406654,0.017642,0.087383,0.075463,-0.026079,0.087244,0.031057,-0.012772,-0.039864,0.088860,0.032002,0.026079
view,0.011592,0.395734,0.078523,0.186451,0.282532,0.075298,0.028436,0.406654,1.000000,0.045735,0.249727,0.166299,-0.054564,0.100964,0.085277,0.006141,-0.077894,0.279561,0.073332,0.054564
condition,-0.023803,0.036056,0.026496,-0.126479,-0.059445,-0.008830,-0.264075,0.017642,0.045735,1.000000,-0.146896,-0.158904,-0.361592,-0.061858,0.002888,-0.015102,-0.105877,-0.093072,-0.003126,0.361592
grade,0.008188,0.667951,0.356563,0.665838,0.762779,0.114731,0.458794,0.087383,0.249727,-0.146896,1.000000,0.756073,0.447865,0.016669,-0.185771,0.113575,0.200341,0.713867,0.120981,-0.447865
sqft_above,-0.010799,0.605368,0.479386,0.686668,0.876448,0.184139,0.523989,0.075463,0.166299,-0.158904,0.756073,1.000000,0.424037,0.022137,-0.261570,-0.001199,0.344842,0.731767,0.195077,-0.424037
yr_built,0.021617,0.053953,0.155670,0.507173,0.318152,0.052946,0.489193,-0.026079,-0.054564,-0.361592,0.447865,0.424037,1.000000,-0.225209,-0.347210,-0.148370,0.409993,0.326377,0.070777,-1.000000
yr_renovated,-0.012010,0.129599,0.018495,0.051050,0.055660,0.004513,0.003535,0.087244,0.100964,-0.061858,0.016669,0.022137,-0.225209,1.000000,0.069846,0.032145,-0.072156,-0.000247,0.003852,0.225209
zipcode,-0.008211,-0.053402,-0.154092,-0.204786,-0.199802,-0.129586,-0.059541,0.031057,0.085277,0.002888,-0.185771,-0.261570,-0.347210,0.069846,1.000000,0.266742,-0.564259,-0.279299,-0.147294,0.347210
lat,-0.001798,0.306692,-0.009951,0.024280,0.052155,-0.085514,0.049239,-0.012772,0.006141,-0.015102,0.113575,-0.001199,-0.148370,0.032145,0.266742,1.000000,-0.135371,0.048679,-0.086139,0.148370
long,0.020672,0.022036,0.132054,0.224903,0.241214,0.230227,0.125943,-0.039864,-0.077894,-0.105877,0.200341,0.344842,0.409993,-0.072156,-0.564259,-0.135371,1.000000,0.335626,0.255586,-0.409993
sqft_living15,-0.002701,0.585241,0.393406,0.569884,0.756402,0.144763,0.280102,0.088860,0.279561,-0.093072,0.713867,0.731767,0.326377,-0.000247,-0.279299,0.048679,0.335626,1.000000,0.183515,-0.326377
sqft_lot15,-0.138557,0.082845,0.030690,0.088303,0.184342,0.718204,-0.010722,0.032002,0.073332,-0.003126,0.120981,0.195077,0.070777,0.003852,-0.147294,-0.086139,0.255586,0.183515,1.000000,-0.070777
age_of_house,-0.021617,-0.053953,-0.155670,-0.507173,-0.318152,-0.052946,-0.489193,0.026079,0.054564,0.361592,-0.447865,-0.424037,-1.000000,0.225209,0.347210,0.148370,-0.409993,-0.326377,-0.070777,1.000000

In [22]:
df_c = df.corr().abs().stack().reset_index().sort_values(0, ascending=False)
df_c['pairs'] = list(zip(df_c.level_0, df_c.level_1))
df_c.set_index(['pairs'], inplace = True)
df_c.drop(columns=['level_1', 'level_0'], inplace = True)
df_c.columns = ['cc']
df_c.drop_duplicates(inplace=True)
df_c[(df_c.cc>.75) & (df_c.cc <1)]

                                    cc
pairs
(sqft_above, sqft_living)     0.876448
(sqft_living, grade)          0.762779
(sqft_living, sqft_living15)  0.756402
(grade, sqft_above)           0.756073
(bathrooms, sqft_living)      0.755758

In [29]:
x = df['price']
y = df['sqft_above']
z = df['sqft_living']
print(np.corrcoef(x, y))
print(np.corrcoef(x, z)) #We should drop sqft_above

[[1.         0.60536794]
 [0.60536794 1.        ]]
[[1.        0.7019173]
 [0.7019173 1.       ]]

In [32]:
y1 = df['grade']
print(np.corrcoef(x, y1))
print(np.corrcoef(x, z)) #We should drop grade

[[1.         0.66795077]
 [0.66795077 1.        ]]
[[1.        0.7019173]
 [0.7019173 1.       ]]

In [33]:
y2 = df['sqft_living15']
print(np.corrcoef(x, y2))
print(np.corrcoef(x, z)) #We should drop sqft_living15

[[1.        0.5852412]
 [0.5852412 1.       ]]
[[1.        0.7019173]
 [0.7019173 1.       ]]

In [34]:
print(np.corrcoef(x, y1))
print(np.corrcoef(x, y))#We should drop sqft_above

[[1.         0.66795077]
 [0.66795077 1.        ]]
[[1.         0.60536794]
 [0.60536794 1.        ]]

In [35]:
y3 = df['bathrooms']
print(np.corrcoef(x, y3))
print(np.corrcoef(x, z))#We should drop bathrooms

[[1.         0.52590562]
 [0.52590562 1.        ]]
[[1.        0.7019173]
 [0.7019173 1.       ]]

In [203]:
df_alt['bedrooms']

0        3
1        3
2        2
3        4
4        3
        ..
21592    3
21593    4
21594    2
21595    3
21596    2
Name: bedrooms, Length: 21597, dtype: int64

In [192]:
df_damn = df_alt.corr().abs().stack().reset_index().sort_values(0, ascending=False)
df_damn['pairs'] = list(zip(df_damn.level_0, df_damn.level_1))
df_damn.set_index(['pairs'], inplace = True)
df_damn.drop(columns=['level_1', 'level_0'], inplace = True)
df_damn.columns = ['cc']
df_damn.drop_duplicates(inplace=True)
df_damn[(df_damn.cc>.75) & (df_damn.cc <1)]

                                    cc
pairs
(sqft_above, total_sq_ft)     0.876678
(sqft_living, sqft_above)     0.876448
(grade, total_sq_ft)          0.763101
(grade, sqft_living)          0.762779
(sqft_living, sqft_living15)  0.756402
(sqft_living15, total_sq_ft)  0.756389
(grade, sqft_above)           0.756073
(bathrooms, sqft_living)      0.755758
(bathrooms, total_sq_ft)      0.755278

In [169]:
predictors = '+'.join(list(df_alt.columns[1:]))
predictors

'bedrooms+bathrooms+sqft_living+sqft_lot+floors+waterfront+view+condition+grade+sqft_above+sqft_basement+zipcode+sqft_living15+sqft_lot15+month+renovated+age_of_house+total_sq_ft'

In [ ]:
cont_var = ['price', 'sqft_living', 'sqft_lot', 'sqft_above', 'sqft_basement']
cont_var_cont = ['sqft_living15', 'sqft_lot15', 'age_of_household', 'total_sq_ft']
categorical_var = ['waterfront', 'view', 'condition', 'floors', 'bedrooms']
categorical_var_cont = ['bathrooms', 'grade', 'zipcode', 'renovated']

In [208]:
try_pred = 'C(bedrooms)+sqft_living+sqft_lot+C(floors)+C(waterfront)+C(view)+C(condition)+sqft_basement+sqft_lot15+C(renovated)+age_of_house+total_sq_ft'
time_pred = 'C(bedrooms)+sqft_living+sqft_lot+C(floors)+C(waterfront)+C(view)+C(condition)+sqft_basement+sqft_lot15+C(renovated)+age_of_house+total_sq_ft + C(month) + C(zipcode)'

In [211]:
lr = ols(formula = 'price ~' + time_pred , data = df_alt).fit()
lr.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.802
Model:                            OLS   Adj. R-squared:                  0.801
Method:                 Least Squares   F-statistic:                     680.4
Date:                Sun, 18 Apr 2021   Prob (F-statistic):               0.00
Time:                        20:18:00   Log-Likelihood:            -2.5189e+05
No. Observations:               18749   AIC:                         5.040e+05
Df Residuals:                   18637   BIC:                         5.049e+05
Df Model:                         111
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept            -2.056e+05   3.77e+04     -5.455      0.000   -2.79e+05   -1.32e+05
C(bedrooms)[T.2]     -2.722e+04   1.32e+04     -2.054      0.040   -5.32e+04   -1249.718
C(bedrooms)[T.3]     -5.536e+04   1.31e+04     -4.231      0.000    -8.1e+04   -2.97e+04
C(bedrooms)[T.4]     -9.713e+04   1.34e+04     -7.262      0.000   -1.23e+05   -7.09e+04
C(bedrooms)[T.5]     -1.193e+05   1.41e+04     -8.431      0.000   -1.47e+05   -9.15e+04
C(bedrooms)[T.6]     -1.567e+05   1.76e+04     -8.878      0.000   -1.91e+05   -1.22e+05
C(bedrooms)[T.7]     -2.948e+05   3.22e+04     -9.168      0.000   -3.58e+05   -2.32e+05
C(bedrooms)[T.8]     -1.368e+05   5.25e+04     -2.605      0.009    -2.4e+05   -3.39e+04
C(bedrooms)[T.9]     -3.949e+05   6.96e+04     -5.672      0.000   -5.31e+05   -2.58e+05
C(bedrooms)[T.10]    -4.917e+05    9.7e+04     -5.071      0.000   -6.82e+05   -3.02e+05
C(bedrooms)[T.11]    -2.264e+05   1.67e+05     -1.357      0.175   -5.53e+05    1.01e+05
C(bedrooms)[T.33]    -2.931e+04   1.67e+05     -0.176      0.860   -3.56e+05    2.97e+05
C(floors)[T.1.5]     -2.907e+04   4957.424     -5.865      0.000   -3.88e+04   -1.94e+04
C(floors)[T.2.0]     -4.292e+04   3985.366    -10.769      0.000   -5.07e+04   -3.51e+04
C(floors)[T.2.5]      5.048e+04   1.48e+04      3.401      0.001    2.14e+04    7.96e+04
C(floors)[T.3.0]     -7.353e+04   9041.908     -8.132      0.000   -9.13e+04   -5.58e+04
C(floors)[T.3.5]      2.582e+04   6.85e+04      0.377      0.706   -1.09e+05     1.6e+05
C(waterfront)[T.1.0]  5.962e+05   1.78e+04     33.471      0.000    5.61e+05    6.31e+05
C(view)[T.1.0]        9.302e+04   1.01e+04      9.237      0.000    7.33e+04    1.13e+05
C(view)[T.2.0]        8.664e+04   6199.885     13.975      0.000    7.45e+04    9.88e+04
C(view)[T.3.0]        1.797e+05   8522.706     21.082      0.000    1.63e+05    1.96e+05
C(view)[T.4.0]        3.519e+05   1.27e+04     27.637      0.000    3.27e+05    3.77e+05
C(condition)[T.2]     5.765e+04   3.66e+04      1.574      0.115   -1.41e+04    1.29e+05
C(condition)[T.3]     6.405e+04   3.41e+04      1.878      0.060   -2814.864    1.31e+05
C(condition)[T.4]     7.865e+04   3.41e+04      2.304      0.021    1.18e+04    1.46e+05
C(condition)[T.5]     1.272e+05   3.43e+04      3.705      0.000    5.99e+04    1.94e+05
C(renovated)[T.1]     8371.7315   3009.377      2.782      0.005    2473.078    1.43e+04
C(month)[T.Aug]      -3.649e+04   5519.836     -6.610      0.000   -4.73e+04   -2.57e+04
C(month)[T.Dec]      -3.673e+04   5970.266     -6.152      0.000   -4.84e+04    -2.5e+04
C(month)[T.Feb]      -2.693e+04   6331.229     -4.253      0.000   -3.93e+04   -1.45e+04
C(month)[T.Jan]      -3.494e+04   6861.307     -5.092      0.000   -4.84e+04   -2.15e+04
C(month)[T.Jul]       -3.87e+04   5345.336     -7.239      0.000   -4.92e+04   -2.82e+04
C(month)[T.Jun]      -3.147e+04   5400.756     -5.827      0.000   -4.21e+04   -2.09e+04
C(month)[T.Mar]      -3940.6534   5594.202     -0.704      0.481   -1.49e+04    7024.493
C(month)[T.May]      -2.565e+04   5224.335     -4.909      0.000   -3.59e+04   -1.54e+04
C(month)[T.Nov]      -3.939e+04   6046.557     -6.514      0.000   -5.12e+04   -2.75e+04
C(month)[T.Oct]      -4.016e+04   5605.423     -7.165      0.000   -5.12e+04   -2.92e+04
C(month)[T.Sep]      -4.489e+04   5706.799     -7.865      0.000   -5.61e+04   -3.37e+04
C(zipcode)[T.98002]   1.695e+04   1.56e+04      1.088      0.276   -1.36e+04    4.75e+04
C(zipcode)[T.98003]   7210.2821   1.41e+04      0.513      0.608   -2.03e+04    3.48e+04
C(zipcode)[T.98004]   8.279e+05   1.38e+04     60.175      0.000    8.01e+05    8.55e+05
C(zipcode)[T.98005]   3.509e+05   1.63e+04     21.561      0.000    3.19e+05    3.83e+05
C(zipcode)[T.98006]   3.146e+05   1.24e+04     25.352      0.000     2.9e+05    3.39e+05
C(zipcode)[T.98007]   2.874e+05   1.79e+04     16.071      0.000    2.52e+05    3.22e+05
C(zipcode)[T.98008]   2.773e+05   1.41e+04     19.707      0.000     2.5e+05    3.05e+05
C(zipcode)[T.98010]   5.278e+04   2.04e+04      2.592      0.010    1.29e+04    9.27e+04
C(zipcode)[T.98011]   1.368e+05   1.58e+04      8.682      0.000    1.06e+05    1.68e+05
C(zipcode)[T.98014]   8.345e+04   1.88e+04      4.429      0.000    4.65e+04     1.2e+05
C(zipcode)[T.98019]   8.146e+04    1.6e+04      5.089      0.000    5.01e+04    1.13e+05
C(zipcode)[T.98022]  -4504.4674   1.51e+04     -0.298      0.765   -3.41e+04    2.51e+04
C(zipcode)[T.98023]  -1.208e+04   1.23e+04     -0.984      0.325   -3.61e+04     1.2e+04
C(zipcode)[T.98024]   1.451e+05   2.19e+04      6.614      0.000    1.02e+05    1.88e+05
C(zipcode)[T.98027]   1.897e+05   1.29e+04     14.732      0.000    1.64e+05    2.15e+05
C(zipcode)[T.98028]   1.357e+05    1.4e+04      9.668      0.000    1.08e+05    1.63e+05
C(zipcode)[T.98029]   2.472e+05   1.36e+04     18.113      0.000     2.2e+05    2.74e+05
C(zipcode)[T.98030]   9800.7181   1.44e+04      0.682      0.495   -1.84e+04     3.8e+04
C(zipcode)[T.98031]   2.913e+04   1.42e+04      2.045      0.041    1210.642     5.7e+04
C(zipcode)[T.98032]    1.96e+04   1.82e+04      1.077      0.281   -1.61e+04    5.53e+04
C(zipcode)[T.98033]    3.91e+05   1.27e+04     30.713      0.000    3.66e+05    4.16e+05
C(zipcode)[T.98034]   2.232e+05    1.2e+04     18.541      0.000       2e+05    2.47e+05
C(zipcode)[T.98038]   3.359e+04   1.19e+04      2.821      0.005    1.02e+04    5.69e+04
C(zipcode)[T.98039]   1.351e+06   2.69e+04     50.160      0.000     1.3e+06     1.4e+06
C(zipcode)[T.98040]    5.55e+05   1.44e+04     38.501      0.000    5.27e+05    5.83e+05
C(zipcode)[T.98042]   8540.3926    1.2e+04      0.711      0.477    -1.5e+04    3.21e+04
C(zipcode)[T.98045]   1.001e+05   1.54e+04      6.484      0.000    6.98e+04     1.3e+05
C(zipcode)[T.98052]   2.588e+05   1.19e+04     21.662      0.000    2.35e+05    2.82e+05
C(zipcode)[T.98053]   1.916e+05    1.3e+04     14.764      0.000    1.66e+05    2.17e+05
C(zipcode)[T.98055]   5.365e+04   1.44e+04      3.735      0.000    2.55e+04    8.18e+04
C(zipcode)[T.98056]   9.426e+04   1.28e+04      7.365      0.000    6.92e+04    1.19e+05
C(zipcode)[T.98058]   4.098e+04   1.26e+04      3.251      0.001    1.63e+04    6.57e+04
C(zipcode)[T.98059]   9.281e+04   1.25e+04      7.409      0.000    6.83e+04    1.17e+05
C(zipcode)[T.98065]   7.181e+04   1.38e+04      5.206      0.000    4.48e+04    9.88e+04
C(zipcode)[T.98070]  -2559.0780   1.92e+04     -0.133      0.894   -4.03e+04    3.51e+04
C(zipcode)[T.98072]   1.736e+05   1.43e+04     12.146      0.000    1.46e+05    2.02e+05
C(zipcode)[T.98074]    2.12e+05   1.27e+04     16.639      0.000    1.87e+05    2.37e+05
C(zipcode)[T.98075]   1.996e+05   1.33e+04     14.995      0.000    1.74e+05    2.26e+05
C(zipcode)[T.98077]   1.515e+05   1.58e+04      9.580      0.000    1.21e+05    1.83e+05
C(zipcode)[T.98092]   -2.47e+04   1.34e+04     -1.843      0.065    -5.1e+04    1571.325
C(zipcode)[T.98102]   5.868e+05   2.04e+04     28.723      0.000    5.47e+05    6.27e+05
C(zipcode)[T.98103]   3.755e+05   1.23e+04     30.544      0.000    3.51e+05       4e+05
C(zipcode)[T.98105]   5.249e+05   1.52e+04     34.620      0.000    4.95e+05    5.55e+05
C(zipcode)[T.98106]   1.639e+05   1.36e+04     12.089      0.000    1.37e+05     1.9e+05
C(zipcode)[T.98107]   3.944e+05   1.47e+04     26.897      0.000    3.66e+05    4.23e+05
C(zipcode)[T.98108]   1.472e+05   1.61e+04      9.156      0.000    1.16e+05    1.79e+05
C(zipcode)[T.98109]   5.464e+05   1.99e+04     27.415      0.000    5.07e+05    5.85e+05
C(zipcode)[T.98112]   7.067e+05   1.47e+04     48.187      0.000    6.78e+05    7.35e+05
C(zipcode)[T.98115]   3.647e+05   1.22e+04     30.004      0.000    3.41e+05    3.89e+05
C(zipcode)[T.98116]   3.264e+05   1.38e+04     23.712      0.000    2.99e+05    3.53e+05
C(zipcode)[T.98117]   3.514e+05   1.23e+04     28.679      0.000    3.27e+05    3.75e+05
C(zipcode)[T.98118]   1.918e+05   1.24e+04     15.436      0.000    1.67e+05    2.16e+05
C(zipcode)[T.98119]   5.626e+05   1.65e+04     34.014      0.000     5.3e+05    5.95e+05
C(zipcode)[T.98122]   3.971e+05   1.43e+04     27.765      0.000    3.69e+05    4.25e+05
C(zipcode)[T.98125]   2.193e+05   1.29e+04     16.961      0.000    1.94e+05    2.45e+05
C(zipcode)[T.98126]   2.202e+05   1.35e+04     16.253      0.000    1.94e+05    2.47e+05
C(zipcode)[T.98133]   1.849e+05   1.24e+04     14.852      0.000     1.6e+05    2.09e+05
C(zipcode)[T.98136]   2.737e+05   1.47e+04     18.628      0.000    2.45e+05    3.02e+05
C(zipcode)[T.98144]   3.135e+05   1.37e+04     22.909      0.000    2.87e+05     3.4e+05
C(zipcode)[T.98146]   1.069e+05   1.41e+04      7.571      0.000    7.92e+04    1.35e+05
C(zipcode)[T.98148]   7.942e+04   2.53e+04      3.139      0.002    2.98e+04    1.29e+05
C(zipcode)[T.98155]   1.616e+05   1.26e+04     12.812      0.000    1.37e+05    1.86e+05
C(zipcode)[T.98166]   6.407e+04   1.48e+04      4.341      0.000    3.51e+04     9.3e+04
C(zipcode)[T.98168]   6.898e+04   1.46e+04      4.729      0.000    4.04e+04    9.76e+04
C(zipcode)[T.98177]   2.507e+05   1.45e+04     17.308      0.000    2.22e+05    2.79e+05
C(zipcode)[T.98178]   4.218e+04   1.45e+04      2.906      0.004    1.37e+04    7.06e+04
C(zipcode)[T.98188]   3.537e+04   1.81e+04      1.955      0.051     -96.804    7.08e+04
C(zipcode)[T.98198]   3518.7427   1.44e+04      0.245      0.807   -2.47e+04    3.17e+04
C(zipcode)[T.98199]   4.414e+05   1.39e+04     31.720      0.000    4.14e+05    4.69e+05
sqft_living            142.0979      1.198    118.607      0.000     139.750     144.446
sqft_lot                 0.2453      0.043      5.677      0.000       0.161       0.330
sqft_basement         -105.9821      3.936    -26.926      0.000    -113.697     -98.267
sqft_lot15              -0.1406      0.067     -2.109      0.035      -0.271      -0.010
age_of_house            53.9588     68.254      0.791      0.429     -79.826     187.744
total_sq_ft            142.0978      1.198    118.607      0.000     139.750     144.446
==============================================================================
Omnibus:                    16468.671   Durbin-Watson:                   1.977
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          2515350.821
Skew:                           3.621   Prob(JB):                         0.00
Kurtosis:                      59.280   Cond. No.                     3.06e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.05e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""